In [48]:
"""Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0"""



import pandas as pd

movies_id = pd.read_csv('ratings.csv')                                   # читаем из файла ratings.csv
selected_movies_id = movies_id[['movieId', 'rating']]                    # выбираем 2 столбца для представления
movies_name = pd.read_csv('movies.csv')                                  # читаем из файла movies.csv
joined = selected_movies_id.merge(movies_name, on='movieId', how='left') # соединяем данные таблиц по столбцу movieId
new_row = joined[['title', 'rating']]                                    # выбираем для представления столбцы в заданном порядке

max_rating = new_row.rating.max()                                        # определяем столбец, по которому считать max()
filter_1 = new_row[new_row.rating == max_rating]                         # фильтр_1: выводить только фильмы с макс. рейтингом

# группируем данные по фильму, к рейтингу применяем функцию счетчика, которая с 
# сортируем данные по убыванию и выводим первый фильм: он получил наибольшее количество оценок "5.0"
filter_2 = filter_1.groupby(['title'])['rating'].agg(['count']).sort_values(by='count', ascending=False).head(1)
filter_2

                                  count
title
Shawshank Redemption, The (1994)    153

In [10]:
"""Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity"""


import pandas as pd

countries = pd.read_csv('power.csv')
category_sorted = countries[(countries['country'].isin(['Estonia','Lithuania', 'Latvia'])) &    # определяем условия: выбираем страны
                            (countries['quantity'] > 0) &                                       # выбираем положительные значения
                            (countries['year'].between(2005, 2010)) &                           # выбираем период 
                            (countries['category'].isin([4, 12, 21]))]                          # выбираем категории 
sum_quantity = category_sorted['quantity'].agg(['sum']).head()                                  # суммируем значения в столбце quantity 
sum_quantity

# если необходимо получить расклад в разрезе по странам, то используем нижеприведенную запись: 
# sum_country_quantity = category_sorted.groupby(['country'])['quantity'].agg(['sum']).head()

sum    240580.0
Name: quantity, dtype: float64

In [21]:
"""Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти)"""

import pandas as pd

# currency_table = pd.read_html('https://fortrader.org/quotes', attrs= {'class': 'tabl_quotes'}, encoding='utf-8').head()
# currency_table

currency_table = pd.read_html('https://fortrader.org/quotes', encoding='utf-8')[2]
currency_table

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 835     -10.00         -1.00        NaN
1  Серебро Цена на серебро на бирже  24.89      -0.26         -1.04        NaN
2         Палладий Цена на Палладий  2 299      -7.00         -0.00        NaN
3           Платина Цены на платину  1 057      -9.00         -1.00        NaN
4           Медь Цена меди на бирже   3.52      -0.02         -0.52        NaN